# venv
.venv
/venv

# vs-code folders
.vscode
/vscode

# django migrations
/vschcp/.migrations
/vschcp/migrations

# cpython files
*.cpython-310.pyc
*.pyc

# sqlite3 files
db.sqlite3
*.sqlite3

# npm package files
package-lock.json
.node_modules
/node_modules